{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container-fluid" style="margin-top:7%">

    <h2 class="slogan" style=" text-align: center">EVENTS!</h2>
</div>
</div>
<div class="container">
    
    <br>
    <div class="row">
        {% for event in activities %}

        <div class="col-md-4" style="padding:1%">
            <div class="card border border-info" id="borderid">
                <p class="heading" style="text-align:center;"><strong>Organisers:</strong> {{event.partner_name}}</p>
                <div style="text-align:center; background-color:#2E151B;" class="card-image">

                    <img class="img-responsive" src="{{event.activity_image.url}}" alt="" height="200px" width="300px">

                </div>
                <div style="margin:2%">
                    <br>
                    <p class="heading"><strong>Activity:</strong> {{event.activity_name}}</p>
                    
                    <button type="button" class="btn"> <a href="{%url 'new-child' %}">Register</a></button>
                    <hr>
                    <p><strong>Description: </strong>{{event.description}}</p>
                    
                    <p><strong>Price:</strong>{{event.price}}</p>
                    <hr>
                    {% for com in event.comments_set.all %}
                    <p>{{com.comment_cont}}</p>
                    {% endfor %}
                    <a href="{%url 'comment' event.id%}" class="btn btn-primary">comment</a>

                </div>
            </div>
        </div>
       
        {% empty %}
        <div class="row">
            <h2 class="text-center">There are no events yet!</h2>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}