{% extends 'base.html' %}

{% block content %}
{{block.super}}
<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<link href="static/color/default.css" rel="stylesheet">
<link rel="shortcut icon" href="static/img/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Libre+Baskerville&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/yourcode.js"></script>

<style>
    .col-sm-4
	{
		padding: 15px;
	}
/*zoom-out*/
.zoombox
{
	background-color: #333;
	overflow: hidden;
}
.zoombox img.zoomboximg
{
	width: 100%;
	height: 240px;
	transform: scale(1.5);
	animation-duration: 10s;
}
.zoombox .zoomboxDiv
{
	position: absolute;
	right: 60px;
	left: 40px;
	top: 60px;
	bottom: 60px;
	display: block;
	background-color: transparent;
	/* border:1px solid #fff; */
	padding: 30px;
	text-align: center;
	transform: scale(0);
}
.zoombox .zoomboxDiv p
{
	width: 100%;
    height: auto;
    color: white;
    font-family:Great,Vibes;
}
.zoombox:hover img.zoomboximg
{
	opacity: .3;
	transform: scale(1);
}
.zoombox:hover .zoomboxDiv
{
	transform: scale(1);
}


</style>
<div style=" margin-top: -130px; background-image: url(https://hfwcny.org/hfwcny-content/uploads/pedals-thumb.jpg);background-repeat: no-repeat;background-size: cover;">
    <img src="" alt="">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br>
</div>
</div>
<br>
<div class="container">
    <h2 class="slogan" style=" text-align: center; font-family: 'Abhaya Libre', serif;">SCHOOL ACTIVITIES</h2>
    <br>
    <div class="row">
        {% for event in activities %}

        <div class="card col-sm-4" style="padding-left:auto;padding-right:auto;min-height:400px;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);margin-right: 10px">
                <p class="heading" style="text-align:center;font-family: 'Bitter', serif;"><strong>Organisers:</strong>
                    {{event.partner_name}}</p>
                <div class="zoombox">
                    <img src="{{event.activity_image.url}}" class="zoomboximg">
                    <div class="zoomboxDiv">
                        <p class="heading" style="font-family: 'Bitter', serif;"><strong>Activity:</strong> {{event.activity_name}}</p>
                        <p class="heading" style="font-family: 'Bitter', serif;"><strong>Category:</strong> {{event.category}}</p>

                        <p style="font-family: 'Bitter', serif;"><strong>Description: </strong>{{event.description}}</p>
                        <p style="font-family: 'Bitter', serif;"><strong>Price:</strong>{{event.price}}</p>
                        
                    </div>
                    <!--div-->
                </div><br>
                <button type="button" class="btn"> <a href="{%url 'new-child' %}">Register</a></button>
                        <a href="{%url 'comment' event.id%}" class="btn btn-primary">comment</a>
                <hr>
                <!-- <h4 style="text-align:center; font-family:Great,Vibes;">comments</h4> -->
                {% for com in event.comments_set.all %}
                <p><strong>{{user.username}}:</strong> {{com.comment_cont}}</p>
                {% endfor %}

                <!--zoombox-->
            </div>
            <br><br>
            {% empty %}
            <div class="row">
                <h2 class="text-center">There are no events yet!</h2>
            </div>
            {% endfor %}
                <!--col-4-->


            </div>
        </div>
    </div>
</div>
<footer>
	
    <h4 style="color: honeydew;font-family: 'Bitter', serif;"><b>Contact us</b></h4>
    <div class="site-section" data-aos="fade">
        <div class="container-fluid">
            
                <div class="row" style="font-family: 'Bitter', serif;">
                    
                    <div class="col-md-3">
                        
                        <p class="mb-0 font-weight-bold"><i class="fa fa-address-book" aria-hidden="true"></i> Address</p>
                        <p class="mb-4">203 KK St. Gishushu,<br> Gasabo, Kigali, Rwanda</p>
                    </div>
                    <div class="mb-3">
                        <p class="mb-0 font-weight-bold"><i class="fa fa-phone-square" aria-hidden="true"></i> Phone</p>
                        <p class="mb-4"><a href="#">+250 784 129 592</a></p>
        
                        <p class="mb-0 font-weight-bold"><i class="fa fa-envelope" aria-hidden="true"></i> Email Address</p>
                        <p class="mb-0"><a href="#">azabe987@gmail.com</a></p>
                    </div>
                    
                        
                        <div class="col-md-5 font-weight-bold" style="margin-left: 60px;font-family:'Bitter', serif;">
                            <h4 style="color: honeydew;"><b>Follow us</b></h4>
                            <div class="row">
                                
                                <div class="col-md-4" style="margin-left:28%;display:inline-block;">
                                    <ul class="social-networks">
                                        <li><a href="#"><i class="icon-circled icon-bglight fa fa-instagram icon-2x"></i></a></li>
                                        <li><a href="#"><i class="icon-circled icon-bglight fa fa-twitter icon-2x"></i></a></li>
                                        <li><a href="#"><i class="icon-circled icon-bglight fa fa-facebook icon-2x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <p class="copyright" style="margin-left:1%;font-family: 'Bitter', serif;">
                        &copy;Azabe 2019. All rights reserved.
                    </p>
                </div>
        
        </div>
    </div>
</footer>
<style>
    
footer {
	/* background: rgb(226, 226, 226) url('https://res.cloudinary.com/drrezzrvd/image/upload/v1573770480/aaron-burden-6jYoil2GhVk-unsplash_nmtfax.jpg(592 kB)
https://res.cloudinary.com/drrezzrvd/image/upload/v1573770480/aaron-burden-6jYoil2GhVk-unsplash_nmtfax.jpg
') no-repeat center center fixed; */
	background: rgb(70, 69, 69);
    /* height: 200px; */
	text-align: center;
	color: #ddd;
	padding:50px 0 50px;
	height: 300px;
}
footer a {
    color: #ddd;
}
footer a:hover {
    color: #fff;
}
footer ul.social-networks {
	list-style:none;
}
footer ul.social-networks li {
	display:inline;
}
footer ul.social-networks li i {
	display:inline-block;
}
footer ul.social-networks li a {
	color: #5E5E5E;
	margin: 0 5px;
    font-size: 25px;
}
footer ul.social-networks li a:hover {
	text-decoration:none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
    color: #ddd;
}
footer ul.social-networks li i.icon-bgdark {
	background:#414141;
	color: #656565;
}
footer ul.social-networks li a i.icon-instagram:hover {
	background: #BA7B3D;
	color: #fff;
}
footer ul.social-networks li a i.icon-twitter:hover {
	background: #5AD2EB;
	color: #fff;
}
footer ul.social-networks li a i.icon-dribbble:hover {
	background: #F57B71;
	color: #fff;
}
footer ul.social-networks li a i.icon-pinterest:hover {
	background: #D84848;
	color: #fff;
}

</style>
{% endblock %}