{%extends 'base.html'%}
{% block content %}

<style>

    .user-profile .user-profile-card {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    }

    .user-profile-card .user-profile-header {
    background: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-back-view-dim-dream-natural-beauty-image_19384.jpg");
    background-size: cover;
    height: 135px;
    }

    .user-profile-card .user-profile-avatar {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    padding: 0 15px;
    }

    .user-profile-card .user-profile-avatar img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
    }

    .user-profile small {
    display: block;
    line-height: 1.428571429;
    color: #999;
    }

</style>

<div class="container-fluid user-profile">
        <div class="row">
          <div class="col-md-12">
            <div class="well well-sm">
              <div class="user-profile-card">
                <div class="user-profile-header">
                </div>
                <div class="user-profile-avatar text-center">
                  <img alt="" src="{{user.image}}" aria-placeholder="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png">
                </div>
                <br><br>
                <div >
                  <div class="text-center">
                    <h4> {{user.username}} </h4>
                    
                    <br/>
                  </div>
                  <div class="panel-footer"></div>
                  <div class="container">
                    <p>
                      <small class="text-secondary">Email</small>
                       {{ user.email }}
                    </p>
                    <p>
                        <small>Biography</small>
                        Bio: {{user.profile.boi}}
                    </p>
                    <p>
                        <small>Location</small>
                         {{user.location}}
                    </p>
                    <div class="panel-footer"><a href="{% url 'editProfile' %}" data-original-title="Edit My Profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i> Edit My Profile</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
